# --- 🔐 JWT CONFIGURACIÓN ---
JWT_SECRET=SecretKey
JWT_EXPIRATION=8h
JWT_REFRESH_SECRET=SecretKey
JWT_REFRESH_EXPIRATION=24h

# --- 💾 BASE DE DATOS ---
PRINCIPAL_DB_NAME=
PRINCIPAL_DATABASE_URL=
TENANT_BASE_DATABASE_URL=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=