# --- 🔐 JWT CONFIGURACIÓN ---
JWT_SECRET=SecretKey
JWT_EXPIRATION=8h
JWT_REFRESH_SECRET=SecretKey
JWT_REFRESH_EXPIRATION=24h

# --- 💾 BASE DE DATOS ---
PRINCIPAL_DB_NAME=principal
PRINCIPAL_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/principal
TENANT_BASE_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/base_db