# --- 🔐 JWT CONFIGURACIÓN ---
JWT_SECRET=SecretKey
JWT_EXPIRATION=8h
JWT_REFRESH_SECRET=SecretKey
JWT_REFRESH_EXPIRATION=24h

# --- PUERTO DE LA APP
PORT=8443

# --- 💾 BASE DE DATOS ---
PRINCIPAL_DB_NAME=principal
# --- LOCAL
PRINCIPAL_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/principal
TENANT_BASE_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/base_db
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432